.dir-bar {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: row;
        width: 100%;
    }

    border: var(--color-border) 1px solid;

    flex-wrap: wrap;


}

.dir-bar button {
    border: none;
    cursor: pointer;
    text-align: left;
    height: 3rem;
    border-bottom: var(--color-border) 1px solid;
}

.selected-dir {
    background-color: var(--color-bg-selection);
    padding: 10px;
    font-weight: bold;
}

.unselected-dir {
    background-color: var(--color-bg-default);
    color: white;
    padding: 10px;
}

.instruction {
    color: var(--color-text-muted);
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem;

    @media screen and (max-width: 768px) {
        font-size: 0rem;
        margin: 0;
    }


}