.dir-bar {
    display: flex;
    flex-direction: column;
}

.dir-bar button {
    border: none;
    cursor: pointer;
    text-align: left;
}

.selected-dir {
    background-color: var(--color-accent-blue);
    color: var(--color-bg-default);
    font-weight: bold;
    padding: 10px;
}

.unselected-dir {
    font-weight: bolder;
    background-color: var(--color-bg-default);
    padding: 10px;
}