.topbar {
    text-align: left;
    width: 100%;
    /* font-size: large; */
    padding-bottom: 0.5rem;
}

.user {
    color: var(--color-accent-green)
}

.route {
    color: var(--color-accent-blue);
}

.folder {
    font-weight: 900;
}

font-size: large;