<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Juan Vargas">
<link rel="stylesheet" href="core.css">
<link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABYElEQVRYR+2WOQ7CQAxFQ4egIBU3YKnhFJyJmjNxCqhZbkAVChDQAI5kcMzYHodAhES6LBq//8f+k0ZS89WouX7yB/hNB07H7Cr1TrOVukS5PoaiWLyTdl8Y9tkuf+aBcAFoxZHGC+EGCCnnVgBErAtugPvCsA15TYRB1fT+4wDcCYD4OsBhnuZOtCdZ8nEA2oBYmO89gMBVeQ+Eun8xK7bPePqMBs8kmE3Ii+Pi6822YMCg33v0ALoQkwlRALThEEBKQv6tNQ0qgKReO8JDsBqECeBRj2AeF0SAMuorByijniZkzEgGHZAOHasBefGYaRABQD0NHBoy1gTQhLRciAagkasB8JTEmJYywQWgQXDHEBIAzpdLfoKGxlEFgLgdjjoFwbgVIRe4+tVyn0BEa9FsNiFmPoDggtIWUOCY4rBOdA7QoqFpKPuPaCahpJbu5zt/yeZhpOV+Fe/+ALU7cANdMwgw8MOMrAAAAABJRU5ErkJggg==" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
