#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.dir-grid {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
}